<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (pieceOfWork(); as pieceOfWorkRef) {
      <div>
        <h2 data-cy="pieceOfWorkDetailsHeading"><span>Piece Of Work</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ pieceOfWorkRef.id }}</span>
          </dd>
          <dt><span>Title</span></dt>
          <dd>
            <span>{{ pieceOfWorkRef.title }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ pieceOfWorkRef.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/piece-of-work', pieceOfWorkRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
