<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (timeSheet(); as timeSheetRef) {
      <div>
        <h2 data-cy="timeSheetDetailsHeading"><span>Time Sheet</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ timeSheetRef.id }}</span>
          </dd>
          <dt><span>Time Sheet Date</span></dt>
          <dd>
            <span>{{ timeSheetRef.timeSheetDate | formatMediumDate }}</span>
          </dd>
          <dt><span>Employee</span></dt>
          <dd>
            @if (timeSheet()!.employee) {
              <div>
                <a [routerLink]="['/employee', timeSheet()!.employee?.id, 'view']">{{ timeSheetRef.employee?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/time-sheet', timeSheetRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
