<div style="overflow: auto;">
  <ng-container *ngIf="rowData | async as birthday">
    <p-contextMenu #contextMenu [model]="menuItems" (mouseleave)="contextMenu.hide()" appendTo="body"></p-contextMenu>
    <p-confirmPopup></p-confirmPopup>
    <p-messages></p-messages>
    <super-table #birthdays [value]="birthday" 
      [resizableColumns]="true" 
      [globalFilterFields]="['lname', 'fname', 'sign']" 
      dataKey="id" 
      [(contextMenuSelection)]="contextSelectedRow" 
      [contextMenu]="contextMenu"
      selectionMode="multiple" 
      [(selection)]="checkboxSelectedRows"
      [expandedRowKeys]="expandedRows"
      (onRowExpand)="onExpandChange(true)" 
      (onRowCollapse)="onExpandChange(false)"
      (selectionChange)="onCheckboxChange()" 
      (onContextMenuSelect)="setMenu(contextSelectedRow)"
      [parent] = "parent"
    >
      <ng-template pTemplate="header">
        <tr [style.visibility]="hideHeader ? 'collapse' : 'visible'">
          <th style="width: 2rem">
            <super-tableHeaderCheckbox></super-tableHeaderCheckbox>
          </th>
          <th super-ResizableColumn [super-SortableColumn]="'lname'">
            <div class="p-d-flex p-jc-between p-ai-center">
              Name
              <super-sortIcon [field]="'lname'"></super-sortIcon>
              <super-columnFilter type="text" field="lname" display="menu"></super-columnFilter>
            </div>
          </th>
          <th super-ResizableColumn [super-SortableColumn]="'fname'">
            <div class="p-d-flex p-jc-between p-ai-center">
              First
              <super-sortIcon [field]="'fname'"></super-sortIcon>
              <super-columnFilter type="text" field="fname" display="menu"></super-columnFilter>
            </div>
          </th>
          <th super-ResizableColumn [super-SortableColumn]="'dob'">
            <div class="p-d-flex p-jc-between p-ai-center">
              Date of Birth
              <super-sortIcon [field]="'dob'"></super-sortIcon>
              <super-columnFilter type="date" field="dob" display="menu"></super-columnFilter>
            </div>
          </th>
          <th super-ResizableColumn [super-SortableColumn]="'additional'">
            <div class="p-d-flex p-jc-between p-ai-center">
              Sign
              <super-sortIcon [field]="'additional'"></super-sortIcon>
              <super-columnFilter type="text" field="additional" display="menu"></super-columnFilter>
            </div>
          </th>
          <th>Alive?</th>
          <th style="width:25px;font-weight: 700;"><span class="p-button-icon pi pi-chevron-right" aria-hidden="true"></span></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-birthday let-expanded="expanded">
        <tr [super-ContextMenuRow]="birthday">
          <td><super-tableCheckbox [value]="birthday"></super-tableCheckbox></td>
          <td #tt pTooltip="{{ birthday.lname }}" [tooltipDisabled]='false' style="text-overflow: ellipsis;overflow: hidden;">{{firstColumnIndent}}{{ birthday.lname }}</td>
          <td>{{ birthday.fname }}</td>
          <td>{{ birthday.dob | date: 'MM/dd/yyyy' }}</td>
          <td>{{ birthday.sign }}</td>
          <td *ngIf="birthday.isAlive">Yes</td>
          <td *ngIf="!birthday.isAlive">No</td>
          <td>
            <button type="button" pButton pRipple [super-RowToggler]="birthday" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>          
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-birthday>
        <td></td>
        <td colspan="6">
          <h3>{{ birthday.fname }} {{birthday.lname}}</h3>
          <iframe style="width:100%; height:100%;" 
            [src]= "sanitizer.bypassSecurityTrustResourceUrl('https://localhost:5001/api/birthdays/text/'+birthday.id)">"
          </iframe>
        </td>
      </ng-template>
    </super-table>
    <div class="alert alert-light" id="no-result" *ngIf="loading">
      <span >loading ...</span>
    </div>
  </ng-container>
  <p-scrollTop
    target="parent"
    icon="pi pi-arrow-up"
  ></p-scrollTop>
  <p-dialog header="Categorize {{birthdayDialogTitle}}" [(visible)]="bDisplayCategories" >
    <jhi-editable-multiselect *ngIf="bDisplayCategories"
      [options]="categories" 
      [(ngModel)]="selectedCategories" 
      defaultLabel="Select or enter a new Category" 
      optionLabel="categoryName"
      ngDefaultControl
      [virtualScroll]=true
    >
    </jhi-editable-multiselect>
    <div class="modal-footer">
      <button pButton label="Cancel" style="margin-left: 9px;" class="p-button-outlined" icon="pi pi-times" (click)="cancelCategorize()"></button>
      <button pButton label="Ok" style="margin-left: 9px;" class="p-button-outlined" icon="pi pi-check" (click)="okCategorize()"></button>
    </div>
  </p-dialog>
  <p-dialog header="{{ birthdayDialogTitle }}" [(visible)]="bDisplayBirthday" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <iframe style="width:100%; height:100%;border-width: 0;" 
      [src]= "sanitizer.bypassSecurityTrustResourceUrl('https://localhost:5001/api/birthdays/text/'+birthdayDialogId)">"
    </iframe>
    <ng-template pTemplate="footer">
    </ng-template>      
  </p-dialog>
</div>
