<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-birthday-heading" jhiTranslate="jhipsterApp.birthday.home.createOrEditLabel">Create or edit a Birthday</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.birthday.lname" for="field_lname">Lname</label>
                    <input type="text" class="form-control" name="lname" id="field_lname"
                           formControlName="lname"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.birthday.fname" for="field_fname">Fname</label>
                    <input type="text" class="form-control" name="fname" id="field_fname"
                           formControlName="fname"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.birthday.dob" for="field_dob">Dob</label>
                    <div class="input-group">
                        <input id="field_dob" type="text" class="form-control" name="dob" ngbDatepicker #dobDp="ngbDatepicker" formControlName="dob"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.birthday.isAlive" for="field_isAlive">Is Alive</label>
                    <input type="checkbox" class="form-control" name="isAlive" id="field_isAlive"
                           formControlName="isAlive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.birthday.optional" for="field_optional">Optional</label>
                    <input type="text" class="form-control" name="optional" id="field_optional"
                           formControlName="optional"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
