<div style="height: calc(100vh - 174px);overflow: auto;">
  <h2 id="page-heading">
      <span jhiTranslate="jhipsterApp.birthday.home.title">Regions</span>

      <button *ngif="false" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-birthday" [routerLink]="['/birthday/new']">
          <fa-icon icon="plus"></fa-icon>
          <span  jhiTranslate="jhipsterApp.birthday.home.createLabel">
          Create a new Region
          </span>
      </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <ng-container *ngIf="rowData | async as birthday">
    <p-contextMenu #contextMenu [model]="menuItems" (mouseleave)="contextMenu.hide()" appendTo="body"></p-contextMenu>
    <p-menu #menu [popup]="true" [model]="menuItems" (onShow)="onMenuShow(menu)" appendTo="body"></p-menu>
    <p-confirmPopup></p-confirmPopup>
    <p-messages></p-messages>
    <p-table #birthdays [value]="birthday" 
        [resizableColumns]="true" 
        [globalFilterFields]="['lname', 'fname', 'additional']" 
        dataKey="id" 
        [(contextMenuSelection)]="contextSelectedRow" 
        [contextMenu]="contextMenu"
        selectionMode="multiple" 
        [(selection)]="checkboxSelectedRows"
        [expandedRowKeys]="expandedRows"
        (onRowExpand)="onExpandChange(true)" 
        (onRowCollapse)="onExpandChange(false)"
        (selectionChange)="onCheckboxChange()" 
        (onContextMenuSelect)="setMenu(contextSelectedRow)"
      >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <button pButton class="p-button-outlined" style="margin-top:9px; height: 20px; width: 20px;" icon="pi pi-refresh" (click)="refreshData()"></button>
          &nbsp;
          <button pButton label="Clear" style="margin-left: 9px;" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clearFilters(birthdays, searchInput)">
          </button>
          <span *ngIf="checkboxSelectedRows.length > 2" style="font-weight: 100;"><i>&nbsp;&nbsp;&nbsp;Too many rows selected</i></span>
          <span *ngIf="chipSelectedRows.length > 0">
            <p-chips pRipple
              [(ngModel)]="chipSelectedRows" 
              (onRemove)="onRemoveChip($event.value)" 
              (onChipClick)="onChipClick($event.originalEvent)" 
            >
              <ng-template let-item pTemplate="item">
                <span  (mouseover)="setMenu(item);menu.show($event)" >
                  {{item.fname}} {{item.lname}}<span style="display: none;">{{item.id}}</span>
                </span>
              </ng-template>
            </p-chips>
          </span>
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              #searchInput
              pInputText
              type="text"
              (input)="birthdays.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 2rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pResizableColumn [pSortableColumn]="'lname'">
            <div class="p-d-flex p-jc-between p-ai-center">
              Name
              <p-sortIcon [field]="'lname'"></p-sortIcon>
              <p-columnFilter type="text" field="lname" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pResizableColumn [pSortableColumn]="'fname'">
            <div class="p-d-flex p-jc-between p-ai-center">
              First
              <p-sortIcon [field]="'fname'"></p-sortIcon>
              <p-columnFilter type="text" field="fname" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pResizableColumn [pSortableColumn]="'dob'">
            <div class="p-d-flex p-jc-between p-ai-center">
              Date of Birth
              <p-sortIcon [field]="'dob'"></p-sortIcon>
              <p-columnFilter type="date" field="dob" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pResizableColumn [pSortableColumn]="'additional'">
            <div class="p-d-flex p-jc-between p-ai-center">
              Sign
              <p-sortIcon [field]="'additional'"></p-sortIcon>
              <p-columnFilter type="text" field="additional" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>Alive?</th>
          <th style="width:25px;font-weight: 700;"><span class="p-button-icon pi pi-chevron-right" aria-hidden="true"></span></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-birthday let-expanded="expanded">
        <tr [pContextMenuRow]="birthday">
          <td><p-tableCheckbox [value]="birthday"></p-tableCheckbox></td>
          <td #tt pTooltip="{{ birthday.lname }}" [tooltipDisabled]='false' style="text-overflow: ellipsis;overflow: hidden;">{{ birthday.lname }}</td>
          <td>{{ birthday.fname }}</td>
          <td>{{ birthday.dob | date: 'MM/dd/yyyy' }}</td>
          <td>{{ birthday.additional }}</td>
          <td *ngIf="birthday.isAlive">Yes</td>
          <td *ngIf="!birthday.isAlive">No</td>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="birthday" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>          
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-birthday>
        <td></td>
        <td colspan="6">
          <h1>Hello {{ birthday.fname }} whose last name is {{birthday.lname}} </h1>
          <iframe style="width:100%; height:100%;" 
             [src]= "sanitizer.bypassSecurityTrustResourceUrl('https://texttemplate-testing-7087740692.us-east-1.bonsaisearch.net/birthdays/_doc/'+birthday.id)">"</iframe>
        </td>
      </ng-template>
    </p-table>
    <div class="alert alert-light" id="no-result" *ngIf="loading">
      <span >loading ...</span>
    </div>
  </ng-container>
  <p-scrollTop
    target="parent"
    icon="pi pi-arrow-up"
  ></p-scrollTop>
</div>
