<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="birthday">
            <h2><span jhiTranslate="jhipsterApp.birthday.detail.title">Birthday</span> {{ birthday.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.birthday.lname">Lname</span></dt>
                <dd>
                    <span>{{ birthday.lname }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.birthday.fname">Fname</span></dt>
                <dd>
                    <span>{{ birthday.fname }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.birthday.dob">Dob</span></dt>
                <dd>
                    <span>{{ birthday.dob }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.birthday.isAlive">Is Alive</span></dt>
                <dd>
                    <span>{{ birthday.isAlive }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.birthday.optional">Optional</span></dt>
                <dd>
                    <span>{{ birthday.optional }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/birthday', birthday.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
