<div>
  <h2 id="page-heading">
      <span jhiTranslate="jhipsterApp.birthday.home.title">Regions</span>

      <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-birthday" [routerLink]="['/birthday/new']">
          <fa-icon icon="plus"></fa-icon>
          <span  jhiTranslate="jhipsterApp.birthday.home.createLabel">
          Create a new Region
          </span>
      </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="birthdays?.length === 0">
      <span jhiTranslate="jhipsterApp.birthday.home.notFound">No birthdays found</span>
  </div>
  <ng-container *ngIf="rowData | async as birthday">
    <p-contextMenu #cm [model]="menuItems"></p-contextMenu>
    <p-confirmPopup></p-confirmPopup>
    <p-messages></p-messages>
    <p-table #birthdays [value]="birthday" 
        [resizableColumns]="true" 
        [globalFilterFields]="['lname', 'fname', 'additional']" 
        dataKey="id" 
        [(contextMenuSelection)]="contextSelectedRow" 
        [contextMenu]="cm"
        selectionMode="multiple" 
        [(selection)]="checkboxSelectedRows"
        [expandedRowKeys]="expandedRows"
        (onRowExpand)="onExpandChange(true)" 
        (onRowCollapse)="onExpandChange(false)"
        (selectionChange)="onCheckboxChange()" 
      >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clearFilters(birthdays, searchInput)">
            Clear
          </button>
          <span *ngIf="checkboxSelectedRows.length > 2" style="font-weight: 100;"><i>&nbsp;&nbsp;&nbsp;Too many rows selected</i></span>
          <span *ngIf="chipSelectedRows.length > 0">
            <p-chips [(ngModel)]="chipSelectedRows" (onRemove)="onRemoveChip($event.value)" (onChipClick)="onChipClick($event.originalEvent)">
              <ng-template let-item pTemplate="item">
                {{item.fname}} {{item.lname}}
              </ng-template>
            </p-chips>
          </span>
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              #searchInput
              pInputText
              type="text"
              (input)="birthdays.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pResizableColumn [pSortableColumn]="'lname'">
            <div class="p-d-flex p-jc-between p-ai-center">
              Name
              <p-sortIcon [field]="'lname'"></p-sortIcon>
              <p-columnFilter type="text" field="lname" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pResizableColumn [pSortableColumn]="'fname'">
            <div class="p-d-flex p-jc-between p-ai-center">
              First
              <p-sortIcon [field]="'fname'"></p-sortIcon>
              <p-columnFilter type="text" field="fname" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pResizableColumn [pSortableColumn]="'dob'">
            <div class="p-d-flex p-jc-between p-ai-center">
              Date of Birth
              <p-sortIcon [field]="'dob'"></p-sortIcon>
              <p-columnFilter type="date" field="dob" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pResizableColumn [pSortableColumn]="'additional'">
            <div class="p-d-flex p-jc-between p-ai-center">
              Sign
              <p-sortIcon [field]="'additional'"></p-sortIcon>
              <p-columnFilter type="text" field="additional" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>Alive?</th>
          <th style="width:75px;">Expand</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-birthday let-expanded="expanded">
        <tr [pContextMenuRow]="birthday">
          <td><p-tableCheckbox [value]="birthday"></p-tableCheckbox></td>
          <td #tt pTooltip="{{ birthday.lname }}" [tooltipDisabled]='false' style="text-overflow: ellipsis;overflow: hidden;">{{ birthday.lname }}</td>
          <td>{{ birthday.fname }}</td>
          <td>{{ birthday.dob | date: 'MM/dd/yyyy' }}</td>
          <td>{{ birthday.additional }}</td>
          <td *ngIf="birthday.isAlive">Yes</td>
          <td *ngIf="!birthday.isAlive">No</td>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="birthday" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>          
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-birthday>
        <td></td>
        <td colspan="6">
          <h1>Hello {{ birthday.fname }} whose last name is {{birthday.lname}} </h1>
          <iframe style="width:100%; height:100%;" 
             [src]= "sanitizer.bypassSecurityTrustResourceUrl('https://texttemplate-testing-7087740692.us-east-1.bonsaisearch.net/birthdays/_doc/'+birthday.id)">"</iframe>
        </td>
      </ng-template>
    </p-table>
  </ng-container>    
</div>
