<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.category.home.title">Categories</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <ng-container *ngIf="rowData | async as category">
        <p-contextMenu #contextMenu [model]="menuItems" (mouseleave)="contextMenu.hide()" appendTo="body"></p-contextMenu>
        <p-confirmPopup></p-confirmPopup>
        <p-messages></p-messages>
        <p-table #categories [value]="category" 
            [resizableColumns]="true" 
            [globalFilterFields]="['categoryName']" 
            dataKey="id" 
            [(contextMenuSelection)]="contextSelectedRow" 
            [contextMenu]="contextMenu"
            selectionMode="multiple" 
            [(selection)]="checkboxSelectedRows"
            [expandedRowKeys]="expandedRows"
            (onRowExpand)="onExpandChange(true)" 
            (onRowCollapse)="onExpandChange(false)"
            (selectionChange)="onSelectionChange()" 
            (onContextMenuSelect)="setMenu(contextSelectedRow)"
          >
          <ng-template pTemplate="caption">
            <div class="p-d-flex">
              <button pButton class="p-button-outlined" style="margin-top:9px; height: 20px; width: 20px;" icon="pi pi-refresh" (click)="refreshData()"></button>
              &nbsp;
              <button pButton label="Clear" style="margin-left: 9px;" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clearFilters(categories, searchInput)"></button>
              <span *ngIf="checkboxSelectedRows.length > 2" style="font-weight: 100; padding-top: 10px;"><i>&nbsp;&nbsp;&nbsp;Too many rows selected</i></span>
              <span *ngIf="chipSelectedRows.length > 0">
                <p-menu #menu [popup]="true" [model]="menuItems" (onShow)="onMenuShow(menu, chips)" appendTo="body"></p-menu>
                <p-chips #chips pRipple
                  [(ngModel)]="chipSelectedRows" 
                  (onRemove)="onRemoveChip($event.value)" 
                  (onChipClick)="onChipClick($event.originalEvent)" 
                >
                  <ng-template let-item pTemplate="item">
                    <span  (mouseover)="setMenu(item);menu.show($event)" >
                      {{item.fname}} {{item.lname}}<span style="display: none;">{{item.id}}</span>
                    </span>
                  </ng-template>
                </p-chips>
              </span>
              <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input
                  #searchInput
                  pInputText
                  type="text"
                  (input)="categories.filterGlobal($any($event.target).value, 'contains')"
                  placeholder="Search keyword"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 2rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pResizableColumn [pSortableColumn]="'categoryName'">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Name
                  <p-sortIcon [field]="'categoryName'"></p-sortIcon>
                  <p-columnFilter type="text" field="categoryName" display="menu"></p-columnFilter>
                </div>
              </th>
          </ng-template>
          <ng-template pTemplate="body" let-category let-expanded="expanded">
            <tr [pContextMenuRow]="category">
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="category" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>          
                <td #tt pTooltip="{{ category.categoryName }}" [tooltipDisabled]='false' style="text-overflow: ellipsis;overflow: hidden;">{{ category.categoryName }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-category>
            <td></td>
            <td colspan="6">
              <h1>{{ category.categoryName }} whose last name is {{category.lname}} </h1>
              <iframe style="width:100%; height:100%;" 
                [src]= "sanitizer.bypassSecurityTrustResourceUrl('https://texttemplate-testing-7087740692.us-east-1.bonsaisearch.net/categories/_doc/'+category.id)">
              </iframe>
            </td>
          </ng-template>
        </p-table>
        <div class="alert alert-light" id="no-result" *ngIf="loading">
          <span >loading ...</span>
        </div>
      </ng-container>
      <p-scrollTop
        target="parent"
        icon="pi pi-arrow-up"
      ></p-scrollTop>
</div>
