<div>
  <h2 id="page-heading" *ngIf="!hideHeader">
      <span jhiTranslate="jhipsterApp.category.home.title">Categories</span><span style="font-size: 16px;font-weight: 700;">... </span>
      <span (click)="showSearchDialog(queryBuilder)" style="cursor:pointer;">
        <span aria-label="Search" class="pi pi-search"></span>
        <span *ngIf="searchQueryAsString.length == 0 && !editingQuery" class="p-component" style="font-weight: 100; padding-top: 10px; margin-left: -6px;"><i>click search for widgit or pencil to edit</i></span>
      </span>
      <span *ngIf="!editingQuery" aria-label="Search" class="pi pi-pencil" style="cursor:pointer;" (click)="editQuery()"></span>
      <span *ngIf="!editingQuery && searchQueryAsString.length > 0" style="font-size: 16px;font-weight: 200;">
        {{searchQueryAsString}}
        <span aria-label="Cancel Search" class="pi pi-times" style="cursor:pointer;" (click)="clearSearch()"></span>
      </span>
      <span #queryEditbox>
        <span *ngIf="editingQuery">
          <input 
            pInputText
            type="text"
            [(ngModel)]="searchQueryAsString"
            placeholder="Edit search query"
            size="130"
            minlength="0"
            jhiValidateBirthdayQuery
            #queryEditor="ngModel"
          />
          <span aria-label="Search" class="pi pi-check" *ngIf="queryEditor.valid" style="cursor:pointer;" (click)="acceptEditQuery()"></span>
          <span aria-label="Search" class="pi pi-times" style="cursor:pointer;" (click)="cancelEditQuery()"></span>
        </span>
      </span>
      <p-dialog 
      header="Enter Search Criteria" 
      [(visible)]="bDisplaySearchDialog" 
      [modal]="true" [style]="{width: '50vw'}" 
      [baseZIndex]="10000"
      [draggable]="true" 
      [resizable]="false"
    >
      <jhi-birthday-query-builder #queryBuilder></jhi-birthday-query-builder>
      <div class="modal-footer">
        <button aria-label="Cancel" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelSearchDialog()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="Submit" aria-label="submit" class="btn btn-primary" [disabled]="queryBuilder.queryCtrl.errors">
          <fa-icon [icon]="faCheck"></fa-icon>&nbsp;<span jhiTranslate="entity.action.ok" (click)="okSearchDialog(queryBuilder, queryEditbox)"></span>
        </button>
      </div>
    </p-dialog>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <ng-container *ngIf="rowData | async as category">
      <p-confirmPopup></p-confirmPopup>
      <p-messages></p-messages>
      <super-table #categoriesTable [value]="category" 
          [resizableColumns]="true" 
          [globalFilterFields]="['categoryName']" 
          dataKey="id" 
          selectionMode="multiple" 
          [(selection)]="checkboxSelectedRows"
          [expandedRowKeys]="expandedRows"
          (onRowExpand)="onExpandChange(true)" 
          (onRowCollapse)="onExpandChange(false)"
          (selectionChange)="onCheckboxChange()"
          [selectedView]="selectedView"
          [displayingAsCategories]="displayAsCategories"
          (setTableReference)="setCategoriesTable($event)"
          [parent]="parent"
        >
        <ng-template pTemplate="caption" *ngIf="!hideHeader">
          <div class="p-d-flex">
            <button aria-label="Refresh" pButton class="p-button-outlined" style="margin-top:9px; height: 20px; width: 20px;" icon="pi pi-refresh" (click)="refreshData()"></button>
            &nbsp;
            <button aria-label="Clear" pButton label="Clear" style="margin-left: 9px;" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clearFilters(categoriesTable, searchInput)"></button>
            &nbsp;
            <p-dropdown [options]="views" [(ngModel)]="selectedView" placeholder="Select a view" optionLabel="name" [showClear]="true" (onChange)="onViewChange($event, searchInput, categoriesTable)"></p-dropdown>            
            <span *ngIf="checkboxSelectedRows.length > 2" style="font-weight: 100; padding-top: 10px;"><i>&nbsp;&nbsp;&nbsp;Too many rows selected</i></span>
            <span *ngIf="chipSelectedRows.length > 0">
              <p-menu #menu [popup]="true" [model]="menuItems" (onShow)="onMenuShow(menu, chips)" appendTo="body"></p-menu>
              <p-chips #chips pRipple
                [(ngModel)]="chipSelectedRows" 
                (onRemove)="onRemoveChip($event.value)" 
                (onChipClick)="onChipClick($event.originalEvent)" 
              >
                <ng-template let-item pTemplate="item">
                  <span  (mouseover)="setMenu(item);menu.show($event)" >
                    {{item.fname}} {{item.lname}}<span style="display: none;">{{item.id}}</span>
                  </span>
                </ng-template>
              </p-chips>
            </span>
            <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input
                #searchInput
                pInputText
                type="text"
                (input)="categoriesTable.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Filter keyword"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr [style.visibility]="hideHeader ? 'collapse' : 'visible'">
            <th style="width: 2rem">
              <super-tableHeaderCheckbox></super-tableHeaderCheckbox>
            </th>
            <th super-ResizableColumn [super-SortableColumn]="'lname'">
              <div class="p-d-flex p-jc-between p-ai-center">
                Name
                <super-sortIcon [field]="'lname'"></super-sortIcon>
                <super-columnFilter type="text" field="lname" display="menu"></super-columnFilter>
              </div>
            </th>
            <th super-ResizableColumn [super-SortableColumn]="'fname'">
              <div class="p-d-flex p-jc-between p-ai-center">
                First
                <super-sortIcon [field]="'fname'"></super-sortIcon>
                <super-columnFilter type="text" field="fname" display="menu"></super-columnFilter>
              </div>
            </th>
            <th super-ResizableColumn [super-SortableColumn]="'dob'">
              <div class="p-d-flex p-jc-between p-ai-center">
                Date of Birth
                <super-sortIcon [field]="'dob'"></super-sortIcon>
                <super-columnFilter type="date" field="dob" display="menu"></super-columnFilter>
              </div>
            </th>
            <th super-ResizableColumn [super-SortableColumn]="'sign'">
              <div class="p-d-flex p-jc-between p-ai-center">
                Sign
                <super-sortIcon [field]="'sign'"></super-sortIcon>
                <super-columnFilter type="text" field="sign" display="menu"></super-columnFilter>
              </div>
            </th>
            <th>Alive?</th>
            <th style="width:2rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category let-expanded="expanded">
          <tr [super-ContextMenuRow]="category" *ngIf="displayAsCategories">
              <td>
                <span>{{firstColumnIndent}}</span><button aria-label="Expand" type="button" pButton pRipple [super-RowToggler]="category" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
              </td>          
              <td #tt pTooltip="{{ category.categoryName }}" [tooltipDisabled]='false' style="overflow:unset; border:none;font-weight: 700; ">{{firstColumnIndent}}{{ category.categoryName }}</td>
          </tr>
          <tr *ngIf="!displayAsCategories">
            <td colspan="7" style="padding:unset; background-color: white;">
                <jhi-birthday-table 
                  firstColumnIndent="" 
                  [hideHeader]=true
                  [parent] = "categoriesTable"
                  [databaseQuery] = "databaseQuery"
                  [category] = "category"
                  [refresh] = "refresh"
                  (setViewFocus) = "setViewFocus($event)"
                >
              </jhi-birthday-table>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-category>
          <td colspan="7" style="border-style: hidden;">
            <jhi-category *ngIf="secondLevel"
              firstColumnIndent="&nbsp;&nbsp;&nbsp;" 
              [hideHeader]=true
              [parent] = "categoriesTable"
              [databaseQuery] = "databaseQuery"
              [category] = "category"
              [parentComponent] = "categoryComponent"
            >
            </jhi-category>
            <jhi-birthday-table *ngIf="!secondLevel"
              firstColumnIndent="{{firstColumnIndent}}&nbsp;&nbsp;&nbsp;" 
              [hideHeader]=true
              [parent] = "categoriesTable"
              [databaseQuery] = "databaseQuery"
              [category] = "category"
              [refresh] = "refresh"
              (setViewFocus) = "setViewFocus($event)"
            >
            </jhi-birthday-table>            
          </td>
        </ng-template>
      </super-table>
      <p-dialog header="Categorize {{birthdayDialogTitle}}" [(visible)]="bDisplayCategories" >
        <jhi-editable-multiselect *ngIf="bDisplayCategories"
          [options]="categories" 
          [(ngModel)]="selectedCategories" 
          defaultLabel="Select or enter a new Category" 
          optionLabel="categoryName"
          ngDefaultControl
          [virtualScroll]=true
        >
        </jhi-editable-multiselect>
        <div class="modal-footer">
          <button aria-label="Cancel" pButton label="Cancel" style="margin-left: 9px;" class="p-button-outlined" icon="pi pi-times" (click)="cancelCategorize()"></button>
          <button aria-label="Ok" pButton label="Ok" style="margin-left: 9px;" class="p-button-outlined" icon="pi pi-check" (click)="okCategorize()"></button>
        </div>
      </p-dialog>
      <p-dialog header="{{ birthdayDialogTitle }}" [(visible)]="bDisplayBirthday" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <iframe style="width:100%; height:100%;border-width: 0;" 
          [src]= "sanitizer.bypassSecurityTrustResourceUrl('https://localhost:5001/api/birthdays/text/'+birthdayDialogId)">"
        </iframe>
        <ng-template pTemplate="footer">
        </ng-template>      
      </p-dialog>
      <div class="alert alert-light" id="no-result" *ngIf="loading">
        <span >loading ...</span>
      </div>
    </ng-container>
    <p-scrollTop
      target="parent"
      icon="pi pi-arrow-up"
    ></p-scrollTop>
</div>
