<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-job-heading" data-cy="JobCreateUpdateHeading">Create or edit a Job</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_jobTitle">Job Title</label>
          <input type="text" class="form-control" name="jobTitle" id="field_jobTitle" data-cy="jobTitle" formControlName="jobTitle" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_minSalary">Min Salary</label>
          <input type="number" class="form-control" name="minSalary" id="field_minSalary" data-cy="minSalary" formControlName="minSalary" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_maxSalary">Max Salary</label>
          <input type="number" class="form-control" name="maxSalary" id="field_maxSalary" data-cy="maxSalary" formControlName="maxSalary" />
        </div>

        <div class="mb-3">
          <label for="field_chores">Chore</label>
          <select
            class="form-control"
            id="field_chores"
            data-cy="chore"
            multiple
            name="chores"
            formControlName="chores"
            [compareWith]="comparePieceOfWork"
          >
            @for (pieceOfWorkOption of pieceOfWorksSharedCollection; track $index) {
              <option [ngValue]="pieceOfWorkOption">{{ pieceOfWorkOption.title }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_employee">Employee</label>
          <select
            class="form-control"
            id="field_employee"
            data-cy="employee"
            name="employee"
            formControlName="employee"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            @for (employeeOption of employeesSharedCollection; track $index) {
              <option [ngValue]="employeeOption">{{ employeeOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
