<div>
  <h2 id="page-heading" data-cy="CountryHeading">
    <span jhiTranslate="jhipsterApp.country.home.title">Countries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.country.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-country"
        [routerLink]="['/country/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.country.home.createLabel">Create a new Country</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="countries?.length === 0">
    <span jhiTranslate="jhipsterApp.country.home.notFound">No Countries found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="countries && countries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="countryName">
            <div class="d-flex">
              <span jhiTranslate="jhipsterApp.country.countryName">Country Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="region.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterApp.country.region">Region</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/country', country.id, 'view']">{{ country.id }}</a>
          </td>
          <td>{{ country.countryName }}</td>
          <td>
            <div *ngIf="country.region">
              <a [routerLink]="['/region', country.region.id, 'view']">{{ country.region.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/country', country.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/country', country.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(country)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
