<div>
  <h2 id="page-heading" data-cy="PieceOfWorkHeading">
    <span jhiTranslate="jhipsterApp.pieceOfWork.home.title">Piece Of Works</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.pieceOfWork.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-piece-of-work"
        [routerLink]="['/piece-of-work/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.pieceOfWork.home.createLabel">Create a new Piece Of Work</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pieceOfWorks?.length === 0">
    <span jhiTranslate="jhipsterApp.pieceOfWork.home.notFound">No Piece Of Works found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="pieceOfWorks && pieceOfWorks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="jhipsterApp.pieceOfWork.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="jhipsterApp.pieceOfWork.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pieceOfWork of pieceOfWorks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/piece-of-work', pieceOfWork.id, 'view']">{{ pieceOfWork.id }}</a>
          </td>
          <td>{{ pieceOfWork.title }}</td>
          <td>{{ pieceOfWork.description }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/piece-of-work', pieceOfWork.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/piece-of-work', pieceOfWork.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(pieceOfWork)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
