<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.pieceOfWork.home.title">Piece Of Works</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-piece-of-work" [routerLink]="['/piece-of-work/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterApp.pieceOfWork.home.createLabel">
            Create a new Piece Of Work
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pieceOfWorks?.length === 0">
        <span jhiTranslate="jhipsterApp.pieceOfWork.home.notFound">No pieceOfWorks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pieceOfWorks && pieceOfWorks.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.pieceOfWork.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.pieceOfWork.description">Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pieceOfWork of pieceOfWorks ;trackBy: trackId">
                    <td><a [routerLink]="['/piece-of-work', pieceOfWork.id, 'view']">{{ pieceOfWork.id }}</a></td>
                    <td>{{ pieceOfWork.title }}</td>
                    <td>{{ pieceOfWork.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/piece-of-work', pieceOfWork.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/piece-of-work', pieceOfWork.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pieceOfWork)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
